@model IEnumerable<Product>
<h1>All Hotel 🏨</h1>
<p>Count: @Model.Count()</p>
<form asp-action="Index" method="get">
    <div>
        <p>
            input place <input type="text" name="Search" value="" /> 
            <input type="submit" value="Search" class="btn btn-info"  /> |
            <a asp-action="Index" > Remove filter</a>
        </p>
    </div>

</form>
<div class="row" >
    
  @foreach (var p in Model)
  {
  <div class="col-6" style="height:600px">
    <div class="border bg-light rounded p-1" style="height:500px">
      <img src="~/img/@(p.imageName).jpg" class="img-fluid" alt="@p.imageName"  style="height:288px; width:100%" />
      <ul class="products-props">
        <li>Price: $@p.Price</li>
        <li>Title: @p.Title </li>
        <li>Description: @p.Description</li>
         <li>Rating: @p.Rating</li>
      </ul>
    </div>
  </div>
  }
</div>